<div class="container">

</div>

<%= javascript_tag do %>
  currentUser = new Pagoda.models.User(<%= raw current_user.to_json(methods: :avatar, except: [:updated_at, :created_at]) %>);
  teamController = new Pagoda.controllers.Team({ id: <%= params[:id] %> });
<% end %>