<div class="navbar"  role="navigation">
  <div class="row">
    <ul class="nav navbar-nav">
      <li>
        <a href="/">Pagoda</a>
      </li>
    </ul>
    
    <ul class="navbar-right nav navbar-nav">
      <li><a href="/logout">登出</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle header-avatar" data-toggle="dropdown">
          <%= image_tag current_user.avatar %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>