<div class="row">
  <ul class="nav navbar-nav">
    <li>
      <a href="/">Pagoda</a>
    </li>
    <li class="active" id="nav-project"><a data-stack="" data-stack-root="">项目</a></li>
    <li id="nav-events"><a data-stack="" data-stack-root="">动态</a></li>
    <li id="nav-members"><a data-stack="" data-stack-root="">团队</a></li>
  </ul>
    
  <ul class="navbar-right nav navbar-nav">
    <li><a href="#">Link</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle header-avatar" data-toggle="dropdown">
        <img  src="{{avatar}}" />
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">个人管理</a></li>
        <li class="divider"></li>
        <li><a href="/">选择团队</a></li>
      </ul>
    </li>
  </ul>
</div>