// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  font-family: arial, sans-serif;
}

li {
  list-style: none;
}

a.header-avatar {
  img {
    width: 24px;
    border-radius: 50%;
  }
}

.navbar {
  
  font-size: 16px;
  margin-top: 30px;
  .navbar-right {
    float: right !important;
  }
  
  .nav {
    .active {
      a {
        border-radius: 10%;
      }
    }
  }
}


.workspace {
  background-color: white;
}

ul.team-list {
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 320px;
  text-align: center;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
  margin-top: 40px;
  li {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    color: #666;
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    vertical-align: baseline;
    display: list-item;
    height: 80px;
    
    &:last-child {
      border: none;
    }
    
    a {
      display: block;
      color: #666;
      line-height: 80px;
      text-decoration: none;
    }
    
    form {
      .btn {
        margin-top: -10px;
      }
    }
  }
}

div#crumbs {
  
  padding: 0 10px;
  
  ul {
    
    li {
      border: 1px solid #dddddd;
      display: block;
      padding: 0 30px;
      line-height: 46px;
      font-size: 18px;
      color: #888888;
      background: #f9f9f9;
      cursor: pointer;
      
      &:hover {
        background: white;
      }
    }
  }
}

div#team-panel {
  background-color: white;
  min-height: 400px;
  box-shadow: 0 0 5px #aaa;
  
  ul.projects-list {
    
    li.project-item {
      border: 1px solid white;
      border-radius: 6px;
      display: block;
      float: left;
      height: 180px;
      position: relative;
      width: 200px;
      margin: 10px 10px;
      cursor: pointer;
      
      &:hover {
        border: 1px solid #eaeaea;
        background-color: #f9f9f9;
      }
      
      h4.name {
        text-align: center;
      }
      
      h5.description {
        color: #999999;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 20px;
      }
      
      img.project-icon {
        width: 100px;
        margin: 10px 50px;
      }
      
      
    }
    
  }
  
  div.projects-new {
    padding: 10px;
    
    #project-desc {
      font-size: 13px;
      width: 400px;
      height: 100px;
      padding: 5px;
      border: 1px solid #ccc;
    }
  }
  
  div.project-detail {
    padding: 20px;
    div.project-header {
      height: 80px;
      border-bottom: 3px #eee;
      border-bottom-style: dashed;
      
      h1.project-name {
        display: inline-block;
        max-width: 580px;
        margin-bottom: 10px;
        border-bottom: 1px solid transparent;
        font-size: 28px;
        line-height: 28px;
        color: #555;
        text-align: left;
        word-wrap: break-word;
      }
    }
    
    #todo-panel {
      #new-todo {
        .new-todo-button {
          
        }
      }
      
      #new-todo-form {
        display: none;
        #new-todo-form-name {
          border: none;
          border-bottom: 1px #B3B3B3;
          border-radius: 0;
          border-bottom-style: dashed;
          box-shadow: none;
          width: 100%;
        }
        
        .popover-content {
          width: 220px;
          height: 60px;
          padding: 0;
        }
        
        .new-todo-form-user {
          font-size: small;
        }
      }
    }
  
  }
  
}

.clear-both {
    clear: both;
}
