<form id="project-form" class="form-horizontal">
  <div class="controls">
    <h2>创建新项目</h2>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="text" id="project-name" name="name" placeholder="请输入项目名称">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <textarea id="project-desc" placeholder="请输入项目简介便于理解" name="description"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">创建</button>
    </div>
  </div>
</form>