<div class="project-header">
  <h1 class="project-name">{{name}}</h1>
</div>

<div id="todo-panel">
  <h2>任务列表</h2>
  <div id="todo-list"></div>
  <div id="new-todo">
    <button class="btn btn-primary new-todo-button" type="button">新建任务</button>
    <form id="new-todo-form">
      <div class='row'>
        <div class='span4'>
          <input type='text' autocomplete='off' id='new-todo-form-name' name='name' placeholder='新的任务' />
        </div>
        <div class='span2'>
          <a class="new-todo-form-user dropdown-toggle btn" href="javascript:void(0)">没有指派 没有截止时间</a>
          <input id='new-user-id' type='hidden' name='user_id' />
          <input id='new-estimate' type='hidden' name='estimate' />
        </div>
      </div>
      <div class='row'>
        <div class='span2'>
          <button class='btn btn-primary'>创建</button> <a id='cancel-button' href='#'>取消</a>
        </div>
      </div>
    </form>
  </div>
</div>