<div class="project-header">
  <h1 class="project-name">{{name}}</h1>
</div>

<div id="todo-panel">
  <h2>任务列表</h2>
  <div id="todo-list"></div>
  <div id="new-todo">
    <button class="btn btn-primary new-todo-button" type="button">新建任务</button>
  </div>
</div>